name: AWS_Serverless_Deploy

on:
  workflow_call:
    secrets:
      NPM_TOKEN:
        required: true
      SERVERLESS_ACCESS_KEY:
        required: true
    inputs:
      deploy_environment:
        description: 'Choose an environment'
        required: true
        default: "staging"
        type: string
      region:
        description: 'Choose the region you want to deploy'
        required: false
        default: 'us-east-1'
        type: string
      debug:
        description: 'Enable debug?'
        required: false
        default: false
        type: boolean
env:
  AWS_NODEJS_CONNECTION_REUSE_ENABLED: 1,
  AWS_SDK_LOAD_CONFIG: 1
  AWS_REGION: ${{ inputs.region }}
  debugMode: ${{ inputs.debug }}
  NODE_ENV: production

jobs:
  analysis:
    uses: stetind/stem-reusable-workflows/.github/workflows/typescript.yaml@main
    secrets: inherit

  deploy:
    needs: analysis
    uses: stetind/stem-reusable-workflows/.github/workflows/aws-serverless-deploy.yaml@main
    secrets: inherit
    with:
      deploy_environment: ${{ inputs.deploy_environment }}
      region: ${{ inputs.region }}
      debug: ${{ inputs.debug }}
